.about {
  padding: 37px 0 51px;
  border-top: 0.5px solid $_light-grey;
  border-bottom: 0.5px solid $_light-grey;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'info card';
    grid-column-gap: 15px;
  }

  &__info {
    display: grid;
    grid-area: info;
    gap: 40px;
  }

  &__article {
    max-width: 100%;
    @include font-properties(16px);
    color: $_dark;

    &_subtitle {
      margin-bottom: 14px;
      @include font-properties(18px, 500);
    }

    &_text {
      margin-bottom: 6px;
      line-height: 24.18px;
    }

    &_show-more {
      color: $_blue;
    }
  }

  &__card {
    display: grid;
    grid-area: card;
    justify-content: center;
    align-items: flex-start;
    padding: 31px 0 0 35px;
  }
}

.heart-icon {
  width: 31px;
  margin: -15px 0 0 20px;
}

@media (max-width: 768px) {
  .about {
    &__wrapper {
      grid-template-columns: 1fr;
      grid-template-areas: 'card' 'info';
      grid-row-gap: 25px;
    }

    &__article {
      &_text {
        text-align: left;
      }
    }

    &__card {
      @media (max-width: 768px) {
        padding: 31px 0;
      }
    }
  }
}
