.booking {
  padding: 50px 0 82px;

  &__title {
    margin-bottom: 30px;
    @include font-properties(20px, 500);
    color: $_dark;
    line-height: 29.26px;
    @media (max-width: 480px) {
      @include font-properties(26px, 400);
      text-align: center;
    }
  }

  &__form {
    padding: 0 30px;
    max-width: 770px;
    border: 1px solid $_light-grey;
    font-size: 18px;
    font-weight: 400;
    color: $_dark;
    @media (max-width: 480px) {
      padding: 0;
    }
  }

  &__date {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    @media (max-width: 480px) {
      justify-content: center;
      border-bottom: 0.5px solid $_light-grey;

      .calendar-icon {
        display: none;
      }
    }
  }

  &__option {
    line-height: 26px;

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      border-top: 0.5px solid $_light-grey;
      @media (max-width: 480px) {
        display: grid;
        gap: 20px;
        padding: 30px 20px;
        border-top: none;
        border-bottom: 0.5px solid $_light-grey;
      }
    }

    &-details {
      display: grid;
      row-gap: 10px;
    }

    &_price {
      font-weight: 600;
    }

    &_button {
      padding: 16px 32px;
      border: 2px solid $_orange;
      border-radius: 3px;
      font-size: 14px;
      line-height: 17px;
      color: $_orange;
      transition: 0.3s;

      &:hover {
        background-color: $_orange;
        color: $_white;
      }
    }
  }
}
