.comments {
  padding: 130px 0 97px 0;
  &__wrapper {
    display: grid;
    place-self: start;
    max-width: 630px;
    color: #37373f;
  }
  &__title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
  }
  &__list {
    margin-bottom: 47px;
  }
  &__item {
    display: flex;
    gap: 20px;
    padding: 30px 0 0 0;
  }
  &__user-content {
    display: grid;
    max-width: 80%;

    border-bottom: 0.5px solid #c7c7c7;
  }
  &__userpic {
    display: block;
    position: relative;
    overflow: hidden;
    width: 101px;
    height: 101px;
    border-radius: 50%;
    &_img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__username {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
  }
  &__user-position {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
  }
  &__rate {
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
    &_score {
      width: 118px;
      height: 17px;
    }
    &_status {
      font-size: 14px;
      font-weight: 400;
      color: #b3b3b3;
      position: relative;
    }
    &_status::before {
      content: url('../assets/icons/CheckIcon.svg');
      display: block;
      position: absolute;
      top: 2px;
      left: -20px;
    }
  }
  &__text {
    margin-bottom: 22px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: 24px;
  }
  &__date {
    margin-bottom: 35px;
    font-size: 14px;
    font-weight: 400;
    color: #b3b3b3;
  }
  &__dropdown-button {
    display: block;
    margin: auto;
    position: relative;
    font-size: 17px;
    font-weight: 500;
    color: #5286ec;
  }
  &__dropdown-button::before {
    content: url('../assets/icons/arrowIcon.svg');
    display: block;
    position: absolute;
    top: 0px;
    left: -22px;
  }
  &__dropdown-button::after {
    content: url('../assets/icons/arrowIcon.svg');
    display: block;
    position: absolute;
    top: 0px;
    left: 175px;
  }
}
