.comments {
  padding: 140px 0 85px;

  &__wrapper {
    max-width: 630px;
    @include font-properties(20px, 500);
    color: $_dark;
  }

  &__title {
    margin-bottom: 20px;
    @include font-properties(20px, 500);
  }

  &__list {
    margin-bottom: 25px;
  }

  &__item {
    display: grid;
    grid-template-columns: 105px 19% 62%;
    grid-template-areas:
      'userpic username .'
      'userpic userposition .'
      'userpic score status'
      '. text text'
      '. date date';
    gap: 10px;
    padding-top: 30px;
    @include font-properties(18px, 500);
  }

  &__userpic {
    position: relative;
    display: block;
    grid-area: userpic;
    width: 101px;
    height: 101px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;

    &_img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
  }

  &__username {
    display: grid;
    grid-area: username;
    padding-top: 5px;
  }

  &__user-position {
    display: grid;
    grid-area: userposition;
    @include h6;
  }

  &__rate-score {
    grid-area: score;
    width: 118px;
    height: 17px;
  }

  &__rate-status {
    position: relative;
    grid-area: status;
    margin-left: 70px;
    @include h6;
    color: $_grey;

    &::before {
      content: url('../assets/icons/CheckIcon.svg');
      position: absolute;
      top: 2px;
      left: -20px;
      display: block;
    }
  }

  &__text {
    grid-area: text;
    margin-bottom: 12px;
    @include h5;
    text-align: left;
    line-height: 24px;
  }

  &__date {
    grid-area: date;
    padding-bottom: 35px;
    border-bottom: 0.5px solid $_light-grey;
    @include h6;
    color: $_grey;
  }

  &__dropdown {
    position: relative;
    display: block;
    margin: auto;
    @include h4;
    color: $_blue;

    &::before {
      @include arrow-icon;
      top: 0;
      left: -22px;
    }

    &::after {
      @include arrow-icon;
      top: 0;
      left: 175px;
    }

    &:hover {
      border-bottom: 1px solid $_light-grey;
    }
  }
}

@media (max-width: 768px) {
  .comments {
    padding: 40px 0 85px;

    &__wrapper {
      max-width: 100%;
    }

    &__title {
      font-size: 28px;
      text-align: center;
    }

    &__item {
      grid-template-columns: 85px 70%;
      grid-template-areas:
        'userpic username'
        'userpic userposition'
        'userpic score'
        'status status'
        'text text'
        'date date';
    }

    &__userpic {
      width: 84px;
      height: 84px;
    }

    &__rate-status {
      margin-left: 20px;
    }
  }
}
