.features {
  padding: 70px 0 30px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
  }
  &__content {
    margin: 0 15px;
    max-width: 100%;
  }
  &__title {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 500;
    color: #37373f;
  }
  &__description {
    margin-bottom: 12px;
    max-width: 480px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #37373f;
  }
  &__list {
    display: grid;
    align-items: center;
    gap: 17px;
    padding-bottom: 39px;
    border-bottom: 0.5px solid #c7c7c7;
    font-size: 14px;
    font-weight: 500;
    color: #37373f;

    &-item {
      display: grid;
      align-items: center;
      grid-template-columns: 6% 94%;
      gap: 10px;
    }
  }
  &__preview {
    margin: 0 15px;
    &-img {
      display: block;
      max-width: 100%;
      border-radius: 4px;
    }
  }
}
