.features {
  display: flex;
  justify-content: center;
  padding: 70px 0 30px;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'title preview'
      'content preview'
      'content preview'
      'rate .';
    grid-column-gap: 15px;
  }

  &__content {
    grid-area: content;
    color: $_dark;
  }

  &__title {
    grid-area: title;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 500;
  }

  &__description {
    margin-bottom: 12px;
    max-width: 480px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
  }

  &__list {
    display: grid;
    align-items: center;
    gap: 17px;
    padding-bottom: 39px;
    border-bottom: 0.5px solid $_light-grey;
    font-size: 14px;
    font-weight: 500;

    &-item {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &__preview {
    grid-area: preview;
    margin-bottom: 30px;
    max-width: 100%;

    &-img {
      display: block;
      max-width: 100%;
      border-radius: 4px;
    }
  }
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  .features {
    &__wrapper {
      grid-template-columns: 1fr;
      grid-template-areas:
        'title'
        'preview'
        'content'
        'rate';
    }

    &__title {
      margin: 0 auto 13px;
    }

    &__description {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 440px) {
  .mobile {
    display: flex;
  }

  .web {
    display: none;
  }
}
