.footer {
  @include font-properties(14);

  &__info {
    display: flex;
    justify-content: space-between;
    padding: 0 66px 41px;
    @media (max-width: 768px) {
      padding: 27px 0;
    }

    &_socials {
      display: flex;
      gap: 30px;

      &-links {
        display: flex;
        align-items: center;
        gap: 30px;
        @media (max-width: 768px) {
          gap: 15px;
        }
      }

      &-link {
        width: 25.5px;
        height: 25.5px;
      }
    }
  }

  &__lang-select {
    color: $_dark;
  }

  &__wrapper {
    background-color: #faf9f8;
    @media (max-width: 768px) {
      border-top: 1px solid $_grey;
    }
  }

  &__other {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    padding: 3px 66px 31px;
    color: $_grey;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 24px;
      padding: 26px 33px 20px;
    }
  }

  &__payment-icons {
    display: flex;
    gap: 20px;
    width: 39px;
    height: 25px;
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
    text-align: center;
  }

  &__contact-support {
    color: $_grey;
  }
}
