.gallery {
  &__wrapper {
    display: grid;
    gap: 37px;
  }
  &__title {
    font-size: 20px;
    font-weight: 500;
    color: #37373f;
  }

  &__slider {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 13px;

    &-item {
      display: block;
      position: relative;
      overflow: hidden;
      max-width: 276px;
      height: 186px;
      border-radius: 4px;
      transition: 0.3s;
      &-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &:hover {
        transform: scale(1.1);
        z-index: 2;
      }
    }
  }
  &__dropdown {
    display: flex;
    justify-content: center;
    margin-bottom: 27px;
    font-size: 17px;
    font-weight: 500;
    color: #5286ec;
  }
}
