.header {
  &__wrapper {
    display: flex;
    align-items: center;
    padding: 39px 0 38px;
  }
  @media (max-width: 440px) {
    &__contact {
      display: none;
    }
  }
  @media (max-width: 320px) {
    &__wrapper {
      padding: 23px 0;
      &::after {
        content: url('../assets/icons/userIcon.svg');
        position: absolute;
        display: block;
        top: 23px;
        right: 20px;
        width: 20px;
        height: 20px;
      }
      &::before {
        content: 'Москва';
        position: absolute;
        display: block;
        top: 23px;
        right: 120px;
        color: $_blue;
      }
    }
  }
  &__contact {
    margin-left: 36px;
    @include h6;
    color: $_grey;

    &-phone {
      color: $_dark;
      transition: 0.3s;

      &:hover {
        color: $_blue;
      }
    }
  }

  &-banner {
    padding: 286px 0 260px;
    background: url('../assets/backgrounds/headerBannerBg.png') center/cover
      no-repeat;
    @media (max-width: 440px) {
      padding: 141px 0 155px;
      background-image: url('../assets/backgrounds/headerMobBg.png') fixed;
    }
    &__title {
      max-width: 75%;
      @include h1;
      line-height: 49px;
      color: $_white;
      @media (max-width: 440px) {
        max-width: 85%;
        font-size: 32px;
      }
    }

    &__button {
      position: relative;
      margin-top: 129px;
      padding: 20px 38px;
      border: 3px solid $_white;
      border-radius: 3px;
      font-size: 18px;
      font-weight: 900;
      color: $_white;
      transition: 0.5s;
    }

    &__button:hover:before {
      content: ' ';
      position: absolute;
      display: block;
      top: -110px;
      left: -5px;
      width: 224px;
      height: 96px;
      border-radius: 5px;
      background-image: url('../assets/icons/priceBadge.png');
      background-repeat: no-repeat;
    }

    &__button:hover::after {
      content: '1500₽';
      position: absolute;
      display: block;
      top: -76px;
      left: -33px;
      width: 224px;
      height: 96px;
      @include h2;
    }
  }
}

.color-text {
  color: $_orange;
  background: transparent;
}
