@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap';
@import '../styles/reset';
@import '../styles/header';
@import '../styles/features';
@import '../styles/gallery';
@import '../styles/about';
@import '../styles/booking';
@import '../styles/location';
@import '../styles/comments';
@import '../styles/footer';
.logo {
  height: 23px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.arrow-icon {
  margin: 0 10px;
}
.rate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  color: #37373f;
  gap: 10px;
  &_features {
    padding: 20px 110px 25px 0;
    max-width: 569px;
    border-bottom: 0.5px solid #c7c7c7;
  }
  &_booking {
    padding: 22px 0 50px 0;
    gap: 10px;
    max-width: 440px;
  }
  &__text {
    text-align: center;
  }
  &__score {
    width: 118px;
    height: 17px;
  }
}

.profile {
  display: flex;
  align-items: center;
  &_location {
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    gap: 10px;
  }
  &_about {
    justify-content: center;
    flex-direction: column;
    width: 190px;
  }
  &-photo {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    &-img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-photo_location {
    width: 67px;
    height: 67px;
  }
  &-photo_about {
    margin-bottom: 23px;
    width: 139px;
    height: 139px;
  }

  &-card_location {
    display: grid;
    gap: 5px;
  }
  &-name {
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: 500;
    color: #37373f;
    &_location {
      margin-bottom: 0;
    }
  }
  &-position {
    margin-bottom: 11px;
    &_location {
      margin-bottom: 0;
    }
  }
  &-more {
    font-size: 14px;
    font-weight: 500;
    color: #5286ec;
    &_location {
      text-align: left;
    }
    &_about {
      width: 200px;
      text-align: center;
    }
  }
}
