@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap';
@import '../styles/reset';
@import '../styles/header';
@import '../styles/features';

.logo {
  height: 23px;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
