@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap';
@import '../styles/reset';
@import '../styles/header';
@import '../styles/features';
@import '../styles/gallery';
@import '../styles/about';
@import '../styles/booking';
@import '../styles/location';
@import '../styles/comments';
@import '../styles/footer';
.logo {
  height: 23px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.arrow-icon {
  margin: 0 10px;
}
