.location {
  padding: 20px 0;
  background: url('../assets/backgrounds/locationBg.png') center/cover no-repeat;
  color: $_dark;

  &__info {
    display: grid;
    max-width: 420px;
    padding: 51px 30px;
    background-color: $_white;
  }

  &__slider {
    font-size: 18px;
    counter-reset: myCounter;

    &-item {
      display: flex;
      margin-bottom: 34px;

      &_text {
        display: grid;
        gap: 12px;
      }

      &_title {
        font-weight: 500;
      }
    }

    &-item::before {
      display: inline-block;
      align-items: center;
      margin-right: 18px;
      width: 61px;
      height: 61px;
      border-radius: 50%;
      counter-increment: myCounter;
      content: counter(myCounter);
      background: $_orange;
      @include h2;
      color: $_white;
      text-align: center;
      line-height: 61px;
    }
  }
}

.location-mob {
  display: none;
}

.location-web {
  display: block;
}

@media (max-width: 768px) {
  .location {
    height: 423px;
    background-position: 55%;

    &__wrapper {
      position: relative;
      padding: 52px 0 20px;
      border: 1px solid $_light-grey;
    }

    &-mob {
      display: block;
      padding: 52px 5px 0;

      .active {
        display: grid;
      }
    }

    &-web {
      display: none;
    }
  }

  .slider {
    position: relative;
    width: 100%;
    padding: 0 26px;

    &__item {
      position: relative;
      display: none;
      place-items: center;
      gap: 10px;
      padding-bottom: 20px;
      font-size: 18px;
      opacity: 1;

      &_numeration {
        width: 61px;
        height: 61px;
        margin-bottom: 10px;
        border-radius: 50%;
        background: $_orange;
        @include h2;
        color: $_white;
        text-align: center;
        line-height: 61px;
      }

      &_title {
        font-weight: 500;
      }
    }
  }
  .slide-previous,
  .slide-next {
    position: absolute;
    top: 10%;
    z-index: 2;
    display: block;
    padding: 10px;
    color: $_light-grey;
    transform: translate(0, -10%);
    transition-duration: 0.3s;

    &:active {
      border-radius: 50%;
      background-color: $_light-orange;
    }
  }

  .slide-previous {
    left: 15%;
    transform: rotate(90deg);

    &-img {
      width: 19px;
      height: 10px;
    }
  }

  .slide-next {
    right: 15%;
    transform: rotate(270deg);

    &-img {
      width: 19px;
      height: 10px;
    }
  }
  .slider__dots {
    z-index: 1;
    display: flex;
    justify-content: center;
    gap: 11px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  .slider__dot {
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid $_light-grey;
    border-radius: 50%;
    transition: all 0.3s;

    &:hover {
      border: none;
      background-color: $_orange;
    }
  }

  .checked {
    border: none;
    background-color: $_orange;
  }
}
