.location {
  background: url('../assets/backgrounds/locationBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: $_dark;
  padding: 20px 0;
  &__info {
    display: grid;
    max-width: 420px;
    padding: 51px 30px;
    background-color: $_white;
  }
  &__slider {
    counter-reset: myCounter;
    font-size: 18px;
    &-item {
      list-style: none;
      margin-bottom: 34px;
      display: flex;
      &_text {
        display: grid;
        gap: 12px;
      }
      &_title {
        font-weight: 500;
      }
      &_subtitle {
        font-weight: 400;
      }
    }
    &-item::before {
      counter-increment: myCounter;
      content: counter(myCounter);
      display: inline-block;
      align-items: center;
      margin-right: 18px;
      width: 61px;
      height: 61px;
      background: $_orange;
      border-radius: 50%;
      text-align: center;
      @include h2;
      color: $_white;
      line-height: 61px;
    }
  }
}
