@mixin arrow-icon {
  content: url('../assets/icons/arrowIcon.svg');
  display: block;
  position: absolute;
}

@mixin h1 {
  font-size: 40px;
  font-weight: 700;
}

@mixin h2 {
  font-size: 35px;
  font-weight: 700;
}

@mixin h3 {
  font-size: 20px;
  font-weight: 500;
}

@mixin h4 {
  font-size: 18px;
  font-weight: 500;
}

@mixin h5 {
  font-size: 16px;
  font-weight: 400;
}

@mixin h6 {
  font-size: 14px;
  font-weight: 400;
}

@mixin font-properties($fontSize, $fontWeight: 400) {
  font-size: $fontSize;
  @if ($fontWeight != 400) {
    font-weight: $fontWeight;
  }
}
