@charset "UTF-8";
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

button {
  border: 0;
  font-family: inherit;
  background-color: transparent;
}

a {
  text-decoration: none;
  font-family: inherit;
}

ul {
  list-style-type: none;
}

.header__wrapper {
  display: flex;
  align-items: center;
  padding: 39px 0 38px;
}
@media (max-width: 440px) {
  .header__contact {
    display: none;
  }
}
@media (max-width: 320px) {
  .header__wrapper {
    padding: 23px 0;
  }
  .header__wrapper::after {
    content: url("../assets/icons/userIcon.svg");
    position: absolute;
    display: block;
    top: 23px;
    right: 20px;
    width: 20px;
    height: 20px;
  }
  .header__wrapper::before {
    content: "Москва";
    position: absolute;
    display: block;
    top: 23px;
    right: 120px;
    color: #5286ec;
  }
}
.header__contact {
  margin-left: 36px;
  font-size: 14px;
  font-weight: 400;
  color: #b3b3b3;
}
.header__contact-phone {
  color: #37373f;
  transition: 0.3s;
}
.header__contact-phone:hover {
  color: #5286ec;
}
.header-banner {
  padding: 286px 0 260px;
  background: url("../assets/backgrounds/headerBannerBg.png") center/cover no-repeat;
}
@media (max-width: 440px) {
  .header-banner {
    padding: 141px 0 155px;
    background-image: url("../assets/backgrounds/headerMobBg.png") fixed;
  }
}
.header-banner__title {
  max-width: 75%;
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
  color: #fff;
}
@media (max-width: 440px) {
  .header-banner__title {
    max-width: 85%;
    font-size: 32px;
  }
}
.header-banner__button {
  position: relative;
  margin-top: 129px;
  padding: 20px 38px;
  border: 3px solid #fff;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 900;
  color: #fff;
  transition: 0.5s;
}
.header-banner__button:hover:before {
  content: " ";
  position: absolute;
  display: block;
  top: -110px;
  left: -5px;
  width: 224px;
  height: 96px;
  border-radius: 5px;
  background-image: url("../assets/icons/priceBadge.png");
  background-repeat: no-repeat;
}
.header-banner__button:hover::after {
  content: "1500₽";
  position: absolute;
  display: block;
  top: -76px;
  left: -33px;
  width: 224px;
  height: 96px;
  font-size: 35px;
  font-weight: 700;
}

.color-text {
  color: #fc9b09;
  background: transparent;
}

.features {
  display: flex;
  justify-content: center;
  padding: 70px 0 30px;
}
.features__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "title preview" "content preview" "content preview" "rate .";
  grid-column-gap: 15px;
}
@media (max-width: 768px) {
  .features__wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: "title" "preview" "content" "rate";
  }
}
.features__content {
  grid-area: content;
  color: #37373f;
}
.features__title {
  grid-area: title;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .features__title {
    margin: 0 auto 13px;
  }
}
.features__description {
  margin-bottom: 12px;
  max-width: 480px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
@media (max-width: 768px) {
  .features__description {
    margin-bottom: 30px;
  }
}
.features__list {
  display: grid;
  align-items: center;
  gap: 17px;
  padding-bottom: 39px;
  border-bottom: 0.5px solid #c7c7c7;
  font-size: 14px;
  font-weight: 500;
}
.features__list-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.features__preview {
  grid-area: preview;
  margin-bottom: 30px;
  max-width: 100%;
}
.features__preview-img {
  display: block;
  max-width: 100%;
  border-radius: 4px;
}

.mobile {
  display: none;
}
@media (max-width: 440px) {
  .mobile {
    display: flex;
  }
}

@media (max-width: 440px) {
  .web {
    display: none;
  }
}

.gallery__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 37px;
}
.gallery__title {
  font-size: 20px;
  font-weight: 500;
  color: #37373f;
}
.gallery__slider {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 13px;
}
@media (max-width: 768px) {
  .gallery__slider {
    grid-template-columns: repeat(2, 1fr);
  }
}
.gallery__slider-item {
  position: relative;
  display: block;
  overflow: hidden;
  max-width: 286px;
  height: 186px;
  border-radius: 4px;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .gallery__slider-item {
    max-width: 100%;
  }
}
.gallery__slider-item-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.gallery__slider-item:hover {
  z-index: 2;
  transform: scale(1.1);
}
.gallery__dropdown {
  display: flex;
  justify-content: center;
  margin-bottom: 27px;
  font-size: 17px;
  font-weight: 500;
  color: #5286ec;
}

.about {
  padding: 37px 0 51px;
  border-top: 0.5px solid #c7c7c7;
  border-bottom: 0.5px solid #c7c7c7;
}
.about__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "info card";
  grid-column-gap: 15px;
}
@media (max-width: 768px) {
  .about__wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: "card" "info";
    grid-row-gap: 25px;
  }
}
.about__info {
  display: grid;
  grid-area: info;
  gap: 40px;
}
.about__article {
  max-width: 100%;
  font-size: 16px;
  color: #37373f;
}
.about__article_subtitle {
  margin-bottom: 14px;
  font-size: 18px;
  font-weight: 500;
}
.about__article_text {
  margin-bottom: 6px;
  line-height: 24.18px;
}
@media (max-width: 768px) {
  .about__article_text {
    text-align: left;
  }
}
.about__article_show-more {
  color: #5286ec;
}
.about__card {
  display: grid;
  grid-area: card;
  justify-content: center;
  align-items: flex-start;
  padding: 31px 0 0 35px;
}
@media (max-width: 768px) {
  .about__card {
    padding: 31px 0;
  }
}

.heart-icon {
  width: 31px;
  margin: -15px 0 0 20px;
}

.booking {
  padding: 50px 0 82px;
}
.booking__title {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
  color: #37373f;
  line-height: 29.26px;
}
.booking__form {
  padding: 0 30px;
  max-width: 770px;
  border: 1px solid #c7c7c7;
  font-size: 18px;
  font-weight: 400;
  color: #37373f;
}
@media (max-width: 480px) {
  .booking__form {
    padding: 0;
  }
}
.booking__date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}
@media (max-width: 480px) {
  .booking__date {
    justify-content: center;
  }
  .booking__date .calendar-icon {
    display: none;
  }
}
.booking__option {
  line-height: 26px;
}
.booking__option-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-top: 0.5px solid #c7c7c7;
}
@media (max-width: 480px) {
  .booking__option-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }
}
.booking__option-details {
  display: grid;
  row-gap: 10px;
}
.booking__option_price {
  font-weight: 600;
}
.booking__option_button {
  padding: 16px 32px;
  border: 2px solid #fc9b09;
  border-radius: 3px;
  font-size: 14px;
  line-height: 17px;
  color: #fc9b09;
  transition: 0.3s;
}
.booking__option_button:hover {
  background-color: #fc9b09;
  color: #fff;
}

.location {
  padding: 20px 0;
  background: url("../assets/backgrounds/locationBg.png") center/cover no-repeat;
  color: #37373f;
}
.location__info {
  display: grid;
  max-width: 420px;
  padding: 51px 30px;
  background-color: #fff;
}
.location__slider {
  counter-reset: myCounter;
  font-size: 18px;
}
.location__slider-item {
  display: flex;
  margin-bottom: 34px;
}
.location__slider-item_text {
  display: grid;
  gap: 12px;
}
.location__slider-item_title {
  font-weight: 500;
}
.location__slider-item::before {
  display: inline-block;
  align-items: center;
  margin-right: 18px;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  counter-increment: myCounter;
  content: counter(myCounter);
  background: #fc9b09;
  font-size: 35px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 61px;
}

.comments {
  padding: 140px 0 85px;
}
.comments__wrapper {
  max-width: 630px;
  font-size: 20px;
  font-weight: 500;
  color: #37373f;
}
@media (max-width: 786px) {
  .comments__wrapper {
    max-width: 100%;
  }
}
.comments__title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 786px) {
  .comments__title {
    font-size: 28px;
    text-align: center;
  }
}
.comments__list {
  margin-bottom: 25px;
}
.comments__item {
  display: grid;
  grid-template-columns: 105px 19% 62%;
  grid-template-areas: "userpic username ." "userpic userposition ." "userpic score status" ". text text" ". date date";
  gap: 10px;
  padding: 30px 0 0 0;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 786px) {
  .comments__item {
    grid-template-columns: 85px 70%;
    grid-template-areas: "userpic username" "userpic userposition" "userpic score" "status status" "text text" "date date";
  }
}
.comments__userpic {
  position: relative;
  display: block;
  grid-area: userpic;
  overflow: hidden;
  margin-right: 10px;
  width: 101px;
  height: 101px;
  border-radius: 50%;
}
.comments__userpic_img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
@media (max-width: 786px) {
  .comments__userpic {
    width: 84px;
    height: 84px;
  }
}
.comments__username {
  display: grid;
  grid-area: username;
  padding-top: 5px;
}
.comments__user-position {
  display: grid;
  grid-area: userposition;
  font-size: 14px;
  font-weight: 400;
}
.comments__rate-score {
  grid-area: score;
  width: 118px;
  height: 17px;
}
.comments__rate-status {
  position: relative;
  grid-area: status;
  margin-left: 70px;
  font-size: 14px;
  font-weight: 400;
  color: #b3b3b3;
}
.comments__rate-status::before {
  content: url("../assets/icons/CheckIcon.svg");
  display: block;
  position: absolute;
  top: 2px;
  left: -20px;
}
@media (max-width: 786px) {
  .comments__rate-status {
    margin-left: 20px;
  }
}
.comments__text {
  grid-area: text;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 24px;
}
.comments__date {
  grid-area: date;
  padding-bottom: 35px;
  border-bottom: 0.5px solid #c7c7c7;
  font-size: 14px;
  font-weight: 400;
  color: #b3b3b3;
}
.comments__dropdown-button {
  display: block;
  margin: auto;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #5286ec;
}
.comments__dropdown-button::before {
  content: url("../assets/icons/arrowIcon.svg");
  display: block;
  position: absolute;
  top: 0;
  left: -22px;
}
.comments__dropdown-button::after {
  content: url("../assets/icons/arrowIcon.svg");
  display: block;
  position: absolute;
  top: 0;
  left: 175px;
}

.footer {
  font-size: 14;
}
.footer__info {
  display: flex;
  justify-content: space-between;
  padding: 0 66px 41px;
}
@media (max-width: 768px) {
  .footer__info {
    padding: 27px 0;
  }
}
.footer__info_socials {
  display: flex;
  gap: 30px;
}
.footer__info_socials-links {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 768px) {
  .footer__info_socials-links {
    gap: 15px;
  }
}
.footer__info_socials-link {
  width: 25.5px;
  height: 25.5px;
}
.footer__lang-select {
  color: #37373f;
}
.footer__wrapper {
  background-color: #faf9f8;
}
@media (max-width: 768px) {
  .footer__wrapper {
    border-top: 1px solid #b3b3b3;
  }
}
.footer__other {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  padding: 3px 66px 31px;
  color: #b3b3b3;
}
@media (max-width: 768px) {
  .footer__other {
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 26px 33px 20px;
  }
}
.footer__payment-icons {
  display: flex;
  gap: 20px;
  width: 39px;
  height: 25px;
}
.footer__copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
  text-align: center;
}
.footer__contact-support {
  color: #b3b3b3;
}

.logo {
  height: 23px;
}
@media (max-width: 768px) {
  .logo {
    height: 15px;
  }
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.rate {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #37373f;
}
@media (max-width: 320px) {
  .rate {
    font-size: 14px;
    gap: 20px;
  }
}
.rate_features {
  grid-area: rate;
  max-width: 569px;
  padding: 20px 0 25px;
  border-bottom: 0.5px solid #c7c7c7;
}
.rate_booking {
  max-width: 440px;
  padding: 60px 0 50px;
  gap: 5px;
}
.rate__text {
  text-align: left;
}
.rate__score {
  width: 118px;
  height: 17px;
}

.profile {
  display: flex;
  align-items: center;
}
.profile_location {
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
}
.profile_about {
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 190px;
}
.profile_about::before {
  content: url("../assets/icons/heartIcon.svg");
  position: absolute;
  display: block;
  top: -15px;
  left: 220px;
  width: 31px;
  height: 27px;
}
@media (max-width: 768px) {
  .profile_about::before {
    left: 200px;
  }
}
.profile-photo {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 50%;
}
.profile-photo-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}
.profile-photo_location {
  width: 67px;
  height: 67px;
}
.profile-photo_about {
  width: 139px;
  height: 139px;
  margin-bottom: 23px;
}
.profile-card_location {
  display: grid;
  gap: 5px;
}
.profile-name {
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 500;
  color: #37373f;
}
.profile-name_location {
  margin-bottom: 0;
}
.profile-position {
  margin-bottom: 11px;
}
.profile-position_location {
  margin-bottom: 0;
}
.profile-more {
  font-size: 14px;
  font-weight: 400;
  color: #5286ec;
}
.profile-more_location {
  text-align: left;
}
.profile-more_about {
  width: 200px;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
